<div class="container">

    <p-card>
       
        <form class="p-4" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
             <p class="body-sm color-medium mb-4 max-w-[250px]">Busca una contraseña que puedas recordar fácilmente</p>

            <div class="form-group">

                <div class="flex flex-col gap-2 justify-center align-center">
                    <label for="password">Contraseña Actual</label>

                    <p-password formControlName="current_password" [feedback]="false" [toggleMask]="true"
                        [inputStyle]="{ width: '100%', height: '40px', fontSize: '16px' }"
                        [ngClass]="{ 'p-invalid': isInvalid('password') }"></p-password>

                </div>
                <br>
                <div class="flex flex-col gap-2 justify-center align-center">
                    <label for="password">Nueva Contraseña</label>

                    <p-password formControlName="new_password" [feedback]="false" [toggleMask]="true"
                        [inputStyle]="{ width: '100%', height: '40px', fontSize: '16px' }"
                        [ngClass]="{ 'p-invalid': isInvalid('password') }"></p-password>


                </div><br>

                


                <div *ngIf="changePasswordForm.get('new_password')?.invalid && changePasswordForm.get('repeat_new_password')?.touched"
                    class="error">
                    Usuario requerido y debe ser válido
                </div>
            </div><br>

            <p-button type="submit" [disabled]="changePasswordForm.invalid || loading" class="w-full">
                {{ loading ? 'Enviando...' : 'Cambiar contraseña' }}
            </p-button>
        </form>
    </p-card>

</div>