.description {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;

    ion-button {
        top: 8px;
        right: 12px;
        position: absolute;
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}