<ion-header>
  <ion-toolbar>
    <aromia-header [products]="products" (openCart)="setOpenCart($event)"></aromia-header>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar (ionInput)="handleInput($event)" placeholder="Buscar producto" mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="p-26">
    @for (product of productsFiltered; track $index) {
    <ion-item (click)="setOpenProductDetail(true, product)" class="p-4 product" lines="none" [button]="true" detail="true">
      <ion-thumbnail slot="start">
        <img [src]="product.image_url" alt="{{ product.name }}" />
      </ion-thumbnail>
      <div class="p-12">
        <p class="m-0 bold body-md">{{ product.name }}</p>
        <p class="m-0 color-medium body-sm description">{{ product.description }}</p>
        <p class="m-0 bold color-primary body-m">{{ product.price | currency }}</p>
      </div>
      <!-- AR-47 -->
      @if(product.cant > 0) {
        <ion-badge color="primary">{{ product.cant }}</ion-badge>
      }
      
    </ion-item>
    }

  </ion-list>
</ion-content>


<ion-modal [isOpen]="isProductDetailOpen">
  <ng-template>

    <ion-content class="p-26">
      <div class="image mb-16">
        <ion-button color="light" (click)="setOpenProductDetail(false)" shape="round">
          <ion-icon color="dark" slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
        <img [src]="productSelected.image_url" alt="">
      </div>
      <div class="px-20 py-12">
        <h4 class="bold color-primary">{{ productSelected.name }}</h4>
        <p class="mb-12 color-medium body-sm">
          {{ productSelected.description }}
        </p>
        <p class="color-primary body-xl bold text-align-end">
          {{ productSelected.price | currency: '₡' }}
        </p>
      </div>

      <div class="px-20 py-12">
        <div class="range">
          <ion-button [disabled]="productSelected.cant == 0" color="primary" (click)="modifyCant(productSelected, 'remove')" shape="round">
            <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
          </ion-button>
            {{ productSelected.cant }}
          <ion-button [disabled]="productSelected.cant == productSelected.stock_quantity"  color="primary" (click)="modifyCant(productSelected, 'add')" shape="round">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

    </ion-content>
    @if(productSelected.cant > 0) {
    <ion-footer mode="ios">
      <ion-button (click)="addCart()" mode="ios" expand="block">Ir al carrito ({{ productSelected.price * productSelected.cant  | currency: '₡' }})</ion-button>
    </ion-footer>
    }
    
  </ng-template>
</ion-modal>


<ion-modal [isOpen]="isCartOpen">
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="setOpenCart(false)" >Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="p-26">
      <aromia-cart></aromia-cart>
    </ion-content>
   
    <ion-footer mode="ios">
      <ion-button mode="ios" expand="block">Pagar</ion-button>
    </ion-footer>

    
  </ng-template>
</ion-modal>