<div class="container">

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" *ngIf="!emailSent">
    <div class="form-group">
      <p-floatlabel variant="in"  class="w-full">
          <input  pInputText id="in_label" pInputText type="email" formControlName="email" class="form-control w-full" />
          <label for="in_label">Nombre de usuario</label>
      </p-floatlabel>

      
      <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="error">
        Usuario requerido y debe ser válido
      </div>
    </div><br>

    <p-button type="submit" [disabled]="forgotPasswordForm.invalid || loading" class="w-full">
      {{ loading ? 'Enviando...' : 'Recuperar contraseña' }}
    </p-button>
  </form>

  <div *ngIf="emailSent" class="success-message">
    <h3>¡Email enviado!</h3>
    <p>Si tu email está registrado, recibirás instrucciones para recuperar tu contraseña.</p>
    <a routerLink="/login">Volver al Login</a>
  </div>
</div>