<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/checkout/order-summary"></ion-back-button></ion-buttons>
    <ion-title>Método de Pago</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if(paymentMethods) {
  <form [formGroup]="paymentForm">
    <ion-list>
      <ion-radio-group formControlName="method" [value]="0">
        <ion-list-header><ion-label>Selecciona una opción</ion-label></ion-list-header>
        @for (method of paymentMethods; track $index) {
        <ion-item lines="none">
          <ion-radio mode="md" slot="start" [value]="method.id"></ion-radio>
          <ion-label>
            <h2>{{ method.name }}</h2>
            <p class="line-1">{{ method.description }}</p>
          </ion-label>
        </ion-item>
        }
      </ion-radio-group>
    </ion-list>
  </form><br><br><br>
  }
  <ion-button expand="block" (click)="proceedToConfirmation()" [disabled]="paymentForm.invalid">
    Continuar a la Confirmación
  </ion-button>
</ion-content>