main {
    display: flex;
    height: 100dvh;
    overflow: hidden;
    flex-direction: column;

    section {
        height: 100%;
    }

    section.cover {
        flex: 1.5;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: var(--ion-color-primary);
        .logo {
            width: 50%;
            height: auto;
            object-fit: cover;
        }
    }

    section.form {
        flex: 2;
        gap: 18px;
        top: -60px;
        display: flex;
        padding: 26px;
        position: relative;
        align-items: center;
        background: #f1f1f1;
        flex-direction: column;
        border-top-right-radius: 60px;
    }
   
}

ion-content {
     --background: #f1f1f1;
}

.form-container {
    gap: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 

.form-container > * {
  flex: 1;
  width: 100%;
}