<ion-header>
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input formControlName="phone" type="tel"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="stacked">Fecha de nacimiento</ion-label>
      <ion-input formControlName="date_of_birth" type="date"></ion-input>
    </ion-item> -->

    <ion-button expand="block" type="submit" [disabled]="form.invalid || loading" class="ion-margin-top">
      {{ loading ? 'Guardando...' : 'Guardar cambios' }}
    </ion-button>
    <hr>

    <ion-button expand="block" color="danger" fill="outline" class="ion-margin-top" (click)="onLogout()">
      Cerrar sesión
      <ion-icon name="log-out-outline" slot="end"></ion-icon>
    </ion-button>
  </form>


  <div style="display: flex; justify-content: center; flex-direction: row; margin-top: 60px;">
    <p class="color-medium">{{ version }}</p>
  </div>

</ion-content>