//AR-47
.header {
    gap: 6px;
    height: 80px;
    display: flex;
    padding: 0 12px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.profile {
    gap: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cart {
    position: relative;
    ion-badge {
        top: 0;
        right: -8px;
        color: #ffffff;
        position: absolute
    }
}