<ion-header>
  <ion-toolbar>
    <ion-title>Mis direcciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="newAddress()">
    Nueva dirección
  </ion-button>

  <ion-list *ngIf="addresses.length">
    <ion-item *ngFor="let addr of addresses">
      <ion-label>
        <h2>{{ addr.alias }}</h2>
        <p>
          {{ addr.streetAddress }}, {{ addr.city }}, {{ addr.state }}
          <span *ngIf="addr.postalCode">({{ addr.postalCode }})</span>
        </p>
        <p *ngIf="addr.additionalInfo">{{ addr.additionalInfo }}</p>
        <p *ngIf="addr.isDefault" class="default-badge">Predeterminada</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button size="small" (click)="editAddress(addr)">
          Editar
        </ion-button>
        <ion-button size="small" color="danger" (click)="deleteAddress(addr)">
          Eliminar
        </ion-button>
        <ion-button size="small" color="medium" *ngIf="!addr.isDefault" (click)="setAsDefault(addr)">
          Predeterminada
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="!addresses.length && !loading">
    <ion-label>No tienes direcciones guardadas.</ion-label>
  </ion-item>

  <ion-spinner *ngIf="loading" class="ion-margin-top"></ion-spinner>

  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-title>
        {{ form.value.id ? 'Editar dirección' : 'Nueva dirección' }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="stacked">Alias</ion-label>
          <ion-input formControlName="alias" placeholder="Casa, Trabajo..."></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Dirección</ion-label>
          <ion-input formControlName="street_address"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Ciudad</ion-label>
          <ion-input formControlName="city"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Provincia</ion-label>
          <ion-input formControlName="state"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Código postal</ion-label>
          <ion-input formControlName="postal_code"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">País</ion-label>
          <ion-input formControlName="country"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Información adicional</ion-label>
          <ion-textarea formControlName="additional_info"></ion-textarea>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Usar como predeterminada</ion-label>
          <ion-toggle formControlName="is_default"></ion-toggle>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="form.invalid" class="ion-margin-top">
          {{ form.value.id ? 'Actualizar' : 'Guardar' }}
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>